body{
    padding:0;
    margin:0;
    font-family:poppins;
}


.container{
    width: 80%;
    margin:auto;
}

.header{
    background-image:url("./Components/waves.svg");
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top;
    
}


.nav{
    position:fixed;
    top:1rem;
    
    width:70%;
    margin:auto;
}

.nav-inner{
    display:flex;
    justify-content: flex-end;
    
}

.nav-inner a{
    color:#130243;
    text-decoration:none;
    margin:1rem 2rem ;
    padding:0.2rem;
    font-weight:bold;
    font-size:1.2rem;
    transition:color 0.5s;
}

.nav-inner a:hover{
    color:aqua;
    border-bottom:2px solid aqua;
    transition:color 0.5s;
}
.logo {
    text-decoration:none;
    color:#130243;
    font-size:2rem;
}


.middleText{
    color:#130243;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    line-height: 5rem;
}
.header h1{
    font-size:5rem;
    font-weight:700;
    
}

.header p{
    font-weight:600;
    font-size:1.5rem;
  
}

.rounded-pill{
    background:linear-gradient(rgba(2, 218, 247,1),rgba(95, 3, 243,1));
    text-decoration: none;
    color:white;
    font-size:1.5rem;
    padding:1rem 2rem 1.3rem 2rem;
    font-weight:500;
    box-shadow: 5px 5px 20px #130243 ;
    
}